h1 {
    color: rgb(222, 113, 255);
    text-align: center;
}

h6 {
    color: rgb(219, 219, 219);
    text-align: center;
    font-size: 6px;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

p {
    text-align: center;
}

#moveTable {
    margin-top: 25px;
}

#evolve {
    border-collapse: collapse;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

#habitat {
    margin-top: 10px;
    border-collapse: collapse;
    border: solid black 2px;
}

#baseStat {
    margin-top: 25px;
}
#sprite {
    margin-left: 46%;
    margin-top: 2px;
}

.table-container {
    display: flex;
    justify-content: center;
}